
<perfect-scrollbar>
<div class="box">
<div class="container">
    <div class="col-md-10">
      <table>
          <tr>
              <td>
                <div class="css-input">
                <input placeholder="nome del progetto" [(ngModel)]="progettitoinsert.nome">
                </div>
              </td>
              <td>
                  <select [(ngModel)]="progettitoinsert.userDTO">
                     <option *ngFor="let user of users" [ngValue]="user" >{{user.username}}</option>
                   </select>
                </td>

              <td>
                <button mat-button (click)="insert(progettitoinsert)">Insert</button>
              </td>
              <td>
                <button mat-button (click)="clear()">Clear</button>
              </td>

            </tr>
        <tr>
          <th>
           Nome del progetto
          </th>
          <!--<th>
            Data inserimento
          </th>
          <th>
            Data modifica
          </th>-->
          <th>
            Proprietario
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
            </th>
        <tr *ngFor="let progetti of progettis"> <!--ripete l'elemento host per ciascun elemento in elenco-->
          <td>
            <div class="input-container">
            <input [(ngModel)]="progetti.nome">
            </div>
          </td>
           <!-- <td>
              {{progetti.data_i}}
            </td>
            <td>
                {{progetti.data_m}}
            </td>
            >-->
            <td>
              <div class="input-container">
              <label >{{progetti.userDTO.username}}</label>
              </div>
             </td>

            <td>
                <button mat-button (click)=update(progetti)>Save</button>
            </td>
          <td>
            <button mat-button (click)="delete(progetti)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
</perfect-scrollbar>


