<div class="page">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__group"><a  [routerLink]="['/admin-dashboard/users']" class="menu__link">User</a></li>
            <li class="menu__group"><a [routerLink]="['/admin-dashboard/codes']" class="menu__link">Codes</a></li>
            <li class="menu__group"><a  [routerLink]="['/admin-dashboard/progetti']" class="menu__link">Progetti</a></li>
            <li class="menu__group"><a  [routerLink]="['/admin-dashboard/support']" class="menu__link">Support</a></li>
        </ul>
    </nav>
</div>

