form{
    margin-top:270px;
    width: 55%;
    padding: 10px;
    border-radius:0;
    border-color: #dc143c;
}

img{
    position: inherit;
    width:50%;
    margin: 12%;
}

input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    color: #000000;
    border-bottom: 1px solid #dc143c;
    margin: 0px;
}

.container-fluid{
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
}
input::placeholder{
    color: #000000;
}
.form-control{
border: none;
background-color: rgba(255, 255, 255, 0);
color: #000000;
border-bottom: 1px solid #ff0000;
}

.login{
border: none;
background-color: #000000;
color: #000000;
border: 1px solid #ffffff;
border-radius: 2px;
padding-top: 10px;
padding-right: auto;
padding-bottom: 10px;
padding-left: auto;
}

p{
font-size: 14px;
color: #000000;
}
