@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/*Tables*/

select{
    background-color: #ffffff ;
    box-shadow: 0px 0px 5px 0px rgba(255,0,255,.75);
    border-radius:32px;
    font-size: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.pad{
    padding-top: 10%;
}

th, td {
    text-align: center;
    padding: 2px;
}

td{
    font-size: 16px;
}

tr{
    background-color: rgba(34, 34, 34, 0.71);
    color: #ffffff;
}

th {
    color: #ffffff;
}

a:hover {
    color: #999999;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(194, 60, 231);
}
button {
    background-color: #9d32ba;
    color: #ffffff
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.1rem 3px;

    position: relative;
    transition: all 0.3s;
    vertical-align: middle;


    &.btn-2 {
        background-color: rgb(157, 50, 186);
        border-radius: 10px;
        overflow: hidden;

        &::before {
            color: #fff;
            content: "\f255";
            font-size: 10%;
            height: 100%;
            right: 100%;
            line-height: 3.3;
            position: absolute;
            top: 0px;
            transition: all 0.3s;
        }

        &:hover {
            background-color: darken(rgb(194, 60, 231), 30%);

            &::before {
                right: 75%;
            }
        }
    }
}




.css-input { border-color:#cccccc; text-align:center; box-shadow: 0px 0px 5px 0px rgba(255, 0, 255, 0.75); border-radius:32px; border-style:hidden; border-width:0px; font-size:13px; padding:8px; background-color: #ffffff  }
.css-input:focus { outline:none; }

.box{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(34, 34, 34, 0.71);
    border-radius:20px;
    padding:70px 100px;
}
